.programacio {
    background-color: #ff0000;
    color: #ffffff;
}
.tutoria {
    background-color: #00ff00;
    color: #ffffff;
}
.sistemes {
    background-color: #0000ff;
    color: #ffffff;
}
.fol {
    background-color: #ffff00;
    color: #000000;
}
.web {
    background-color: #ff00ff;
    color: #ffffff;
}
.bbdd {
    background-color: #00ffff;
    color: #000000;
}
.eie {
    background-color: #ffa500;
    color: #ffffff;
}
.erp {
    background-color: #808080;
    color: #ffffff;
}

td, th {
    text-align: center;
}